/* Custom variables */
$primary: #F49E18;
$primaryLight: rgba(255, 178, 53, 0.77);
$secondary: #F8F845;
$title: "Helvetica Black";
$text: "Helvetica";
$bold: 600;

/* Mixins */

@mixin font($font){
  font-family: $font;
}

/* Imports */
@import "media.scss";
@import "../node_modules/bootstrap/scss/bootstrap";


/* Styling */

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  img{
    max-width: 100%;
  }

  h1{
    @include font($title);
    font-size: 2rem;
  }

  h3{
    @include font($title);
  }

  p{
    text-align: left;
    @include font($text);
  }

  a{
    text-decoration: none;
    color: $primary;

    &:hover{
      text-decoration: none;
      color: $primaryLight;
      cursor: pointer;
    }
  }

  .container-fluid{
    padding: 0;
  }

  .landing{
    position: relative;
    margin-bottom: 3rem;

    &__img{
      width: 100vw;
      height: 33%;
    }

    &__logo{
      position: absolute;
      width: 40vw;
      top: 0.7rem;
      left: 0.6rem;
    }
  }

  .what{


    &__title{
      margin-bottom: 2rem;
    }

    img{
      max-width: 87.5vw;
      margin-bottom: 1rem;
    }

    p{
      margin: 0 2rem 3rem;
    }
  }

  .breakbar{
    background-color: $secondary;
    height: 5rem;
    width: 100%;
    margin-bottom: 2rem;
  }

  .who{


    &__title{
      margin-bottom: 2rem;
    }

    &__text{
      margin: 0 2rem 3rem;
    }

    &__contact{
      display: flex;
      flex-flow: row wrap;

      &__thumb{
        max-width: 40%;
        margin: 0.5rem auto;


        a{
          text-decoration: none;
          color: #000;
          cursor: pointer;
        }

        figcaption{
          font-weight: 700;
        }

        p{
          text-align: center;
          font-weight: 100;
        }
      }
    }
  }

  footer{
    background-color: $secondary;
    margin-top: auto;
    padding: .5rem 0;
    font-size: 0.8rem;

    a{
      text-decoration: none;
      color: rgba(0,0,0,0.7);

      &:hover{
        color: $primary;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

@include mq($tablet){
  *{
    font-size: 20px;
  }

  body{

    .landing__img {
      height: 80%;
    }

    .what {


      img{
        max-width: 60vw;
      }

      p {
        margin: 0 10rem 3rem;
      }
    }

    .who__text{


      p {
        margin: 0 10rem 3rem;
      }
    }
  }
}

@include mq($teneighty){

  body{

    .landing {

      &__logo{
        width: 33vw;
        top: 1rem;
        left: 1.5rem;
      }

      &__img {
        height: 100%;
      }
    }
  }
}