/* Custom variables */
$primary: #F49E18;
$primaryLight: #FFB235;
$secondary: #F8F845;
$title: "Helvetica Black";
$text: "Helvetica";
$bold: 600;

/* Mixins */

@mixin font($font){
  font-family: $font;
}

/* Imports */
@import "media.scss";
@import "../node_modules/bootstrap/scss/bootstrap";


/* Styling */

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  img{
    max-width: 100%;
  }

  h1{
    @include font($title);
    font-size: 2rem;
  }

  h3{
    @include font($title);
  }

  p{
    text-align: left;
    @include font($text);
  }

  .container-fluid{
    padding: 0;
  }

  .landing{
    position: relative;

    &__img{
      width: 100vw;
      height: 27vh;
    }

    &__logo{
      position: absolute;
      width: 40vw;
      top: 0.7rem;
      left: 0.6rem;
    }
  }

  .what{


    img{
      max-width: 87.5vw;
    }

    p{
      margin: 0 2rem 3rem;
    }
  }

  .breakbar{
    background-color: $secondary;
    height: 4rem;
    width: 100vw;
    margin-bottom: 2rem;
  }

  .who{


    &__text{
      margin: 0 2rem 3rem;
    }

    &__contact{


      p{
        text-align: center;
      }
    }
  }

  footer{
    background-color: $secondary;
    margin-top: auto;

    a{
    }
  }
}
